<ion-header>
  <ion-toolbar>
      <ion-title>
        <ion-buttons slot="start">

          <ion-menu-button>
            
          </ion-menu-button>

        </ion-buttons>

        <ion-col col-12>
          <img src="assets/img/actslogo.png" alt="logo" class="logo">
        </ion-col>
      
        <ion-col col-12>
          <h3 id="business">Business Excellence</h3>
        </ion-col>

      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-content padding class="bg-theme"> -->
      <ion-content class="home-bg">
        <ion-grid col-12>
    
          <ion-row>
            <ion-col col-4>
              <ion-card>
                <ion-card-content routerLink="/media" text-center>
                <!-- <ion-card-content (click)="goToPage(aboutPage)"> -->
                  <img src="assets/Icons/drawable-xxxhdpi/ic_gallery.png" alt="icon">
                  <p>Videos</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col col-4>
              <ion-card>
                <ion-card-content routerLink="/slides" text-center>
                  <img src="assets/Icons/drawable-xxxhdpi/ic_appointment.png" alt="icon">
                  <p>Slides</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col col-4>
              <ion-card>
                <ion-card-content text-center>
                  <img src="assets/Icons/drawable-xxxhdpi/ic_appointment.png" alt="icon">
                  <p>Blog</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-4>
              <ion-card>
                <ion-card-content text-center>
                  <img src="assets/Icons/drawable-xxxhdpi/ic_blog.png" alt="icon">
                  <p>Leaders</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col col-4>
              <ion-card>
                <ion-card-content text-center>
                  <img src="assets/Icons/drawable-xxxhdpi/ic_testimonials.png" alt="icon">
                  <p>About</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col col-4>
              <ion-card>
                <ion-card-content text-center>
                  <img src="assets/Icons/drawable-xxxhdpi/ic_gallery.png" alt="icon">
                  <p>Gallery</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

        <ion-row>
            <ion-col col-4>
              <ion-card>
                <ion-card-content text-center>
                  <img src="assets/Icons/drawable-xxxhdpi/ic_availibility.png" alt="icon">
                  <p>Contact</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col col-4>
              <ion-card>
                <ion-card-content text-center>
                  <img src="assets/Icons/drawable-xxxhdpi/ic_reach_us.png" alt="icon">
                  <p>test</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col col-4>
              <ion-card>
                <ion-card-content text-center>
                  <img src="assets/Icons/drawable-xxxhdpi/ic_contatc_us.png" alt="icon">
                  <p>test</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
    
        </ion-grid>
      </ion-content>

    
    





</ion-content>
